<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>
    <%= customers.length %> clientes cadastrados
  </p>
  <table>
    <thead>
      <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Cidade</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach( item=> { %>
        <tr>
          <td>
            <%= item.nome %>
          </td>
          <td>
            <%= item.idade %>
          </td>
          <td>
            <%= item.cidade %>
              <%= item.uf %>
          </td>
          <td></td>
        </tr>

        <% }) %>
    </tbody>
  </table>
  <a href="/new">Cadastrar Novo</a>
</body>

</html>